
.btn {
  @include box-shadow(none);
  @include transition(background 100ms linear);
  @include border-radius(0);
  font-family: $font-family-sans-serif;
  font-weight: 300;
  color: inherit;
  text-shadow: 0 1px 1px #fff;
  background-color: #fff;
  border-color: $gray-light;
  
  &:hover,
  &:active {
    @include transition(background 100ms linear);
    @include box-shadow(none);
    color: inherit;
    background: darken($gray-lighter,5%);
    border-color: darken($gray-light,5%);
  }
  
  // Button Colors
  &.btn-primary {
    color: #fff;
    text-shadow: 0 1px 1px darken($brand-primary,10%);
    background: $brand-primary;
    border: 1px solid darken($brand-primary,2%);
    
    &:hover,
    &:active {
      @include box-shadow(none);
      background: lighten($brand-primary,5%);
      border-color: lighten($brand-primary,5%);
    }
  }
  
  &.btn-info {
    color: #fff;
    text-shadow: 0 1px 1px darken($brand-info,10%);
    background: $brand-info;
    border: 1px solid darken($brand-info,5%);    
    &:hover,
    &:active {
      @include box-shadow(none);
      background: lighten($brand-info,5%);
      border-color: lighten($brand-info,5%);
    }
  }
  
  &.btn-success {
    color: #fff;
    text-shadow: 0 1px 1px darken($brand-success,10%);
    background: $brand-success;
    border: 1px solid $brand-success;    
    &:hover,
    &:active {
      @include box-shadow(none);
      background: lighten($brand-success,5%);
      border-color: lighten($brand-success,5%);
    }
  }
  
  // &.btn-warning {
  //   background: $btnWarningBackground;
  //   border: 1px solid $btnWarningBackground;    
  //   &:hover,
  //   &:active {
  //     background: lighten($btnWarningBackground,5%);
  //     border: 1px solid lighten($btnWarningBackground,5%);
  //     @include box-shadow(none);
  //   }
  // }
  
  // &.btn-danger {
  //   background: $btnDangerBackground;
  //   border: 1px solid $btnDangerBackground;    
  //   &:hover,
  //   &:active {
  //     background: lighten($btnDangerBackground,5%);
  //     border: 1px solid lighten($btnDangerBackground,5%);
  //     @include box-shadow(none);
  //   }
  // }
  
  // &.btn-link {
  //   background: transparent;
  //   border: 1px solid transparent;
  // }
  
  // Button Sizes
  // ------------------------
  
  // Large
  &.btn-lg {
    @include border-radius(0);
    padding: $padding-large-vertical $padding-large-horizontal;  
    font-size: $font-size-large;
  }

  &.btn-lg [class^="icon-"],
  &.btn-lg [class*=" icon-"] { margin-top: 4px; }  

  // Small
  &.btn-sm {
    @include border-radius(0);
    padding: $padding-small-vertical $padding-small-horizontal;
    font-size: $font-size-small;
  }
  
  &.btn-sm [class^="icon-"],
  &.btn-sm [class*=" icon-"] { margin-top: 0; }
  

  // Mini
  &.btn-xs { @include border-radius(0); }

  &.btn-mini [class^="icon-"],
  &.btn-mini [class*=" icon-"] { margin-top: -1px; }
    
  // // Disabled State
  // &.disabled,
  // &[disabled] {
  //   @include opacity(55);
  // }
  
}
