/* Thumbnails Fix
 * ------------------------------------------------------------------------- */
.thumbnails {
  margin-bottom: 0;
}

/* This prevents thumbnails to break after the first row. */
.thumbnails > li.span2:nth-child(6n+1),
.thumbnails > li.span3:nth-child(4n+1),
.thumbnails > li.span4:nth-child(3n+1),
.thumbnails > li.span6:nth-child(2n+3) {
  margin-left: 0 !important;
}

/* Thumbnail Styles */
.thumbnail {
  position: relative;
  min-height: 150px;
  background: #fff;
  /* force the image to occupy the entire div/container */
  /* Add a spinner so viewers will know that a media is loading */
}
.thumbnail img {
  width: 100%;
  height: auto;
}
.thumbnail .btn-likes,
.thumbnail .btn-comments {
  position: absolute;
  bottom: 10px;
}
.thumbnail .btn-likes {
  left: 10px;
}
.thumbnail .btn-comments {
  right: 10px;
}
.thumbnail .loader {
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  background: url("http://img.cdn.tl/loading2.gif") center center no-repeat;
}

/**
 * Modal Styles
 * you may use default bootstrap modal, but since we would like the modal 
 * window to show a slightly larger size of the media, I think it's a good 
 * idea to modify it and expand the width a bit with a faster fade-in transition
 * speed.
 *
 */
